<html>

<head>
    <title>DJANGOGIRLS WEBSITES</title>
</head>

<body>
    <h1>Django admin site</h1>
    <div>
        <p>published: 14.06.2014, 12:14</p>
        <h2><a href="">My first post</a></h2>
        <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta
            gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
            massa justo sit amet risus.</p>
    </div>

    <div>
        <p>published: 14.06.2014, 12:14</p>
        <h2><a href="">My second post</a></h2>
        <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta
            gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
    </div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis blanditiis, quibusdam esse placeat, labore, soluta
        libero ipsa vitae quis suscipit ipsum reiciendis laboriosam? Nemo aut, doloribus officiis cum earum quasi.</p>
    <p>The Django admin site¶
        One of the most powerful parts of Django is the automatic admin interface. It reads metadata from your models to
        provide a quick, model-centric interface where trusted users can manage content on your site. The admin’s
        recommended use is limited to an organization’s internal management tool. It’s not intended for building your
        entire front end around.

        The admin has many hooks for customization, but beware of trying to use those hooks exclusively. If you need to
        provide a more process-centric interface that abstracts away the implementation details of database tables and
        fields, then it’s probably time to write your own views.

        In this document we discuss how to activate, use, and customize Django’s admin interface.</p>
</body>

</html>